.style {
    background-color: red;
    color: white;
    padding: 5px;
    width: 22%;
    margin-left: auto;
    margin-right: auto;
}

.style:hover {
    background-color: rgb(255, 45, 45);
    color: rgb(238, 238, 238);
    cursor: pointer;
}
.style {
    /* comment */
}